---
layout: page
title: Home
published: true
date: 2018-01-14
---
{%- include intro.html -%}
<h1>Blog Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <p><a href="{{ site.baseurl }}{{ post.url }}">Read more...</a></p>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}"><i class="fa fa-caret-left" aria-hidden="true"></i> Older</a>
  {% else %}
    <span class="pagination-item older"><i class="fa fa-caret-left" aria-hidden="true"></i>Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/blog">Newer  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer  <i class="fa fa-caret-right" aria-hidden="true"></i></span>
  {% endif %}
</div>
