html {
  font-family: "Cantarell",Geneva,Tahoma,"Trebuchet MS",sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 38rem) {
  html {
    font-size: 16px;
  }
}


.container {
  max-width: 60%;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
  /*border:1px solid red;*/
}

@media (min-width: 38rem) {
  .container {
    max-width: 60%;
  }
}
@media (min-width: 56rem) {
  .container {
    max-width: 60%;
  }
}

.masthead {
  padding-top:    1rem;
  padding-bottom: .1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  line-height: .9;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 65%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

@media (max-width: 48em) {
  .masthead-title {
    text-align: right;
    margin-right:-100px;
    /*line-height: 1;*/
}

  .masthead-title small {
    /*display: block;*/
  }
  .masthead {
    /*padding-bottom: 1.1rem;*/
}
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  1rem;
  left: 1rem;
  display: block;
  width: 2.2rem;
  padding: .5rem .65rem;
  color: #505050;

  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;

  /*border:3px solid green;*/
}

.sidebar-toggle:before {
  display: block;
  /*content: ">";
  width: 100%;
  padding-bottom: .125rem;*/
  /*border-top: .375rem double;
  border-bottom: .125rem solid;*/

  /* Make the border inside the box */
  /*-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  background-color: #505050;
}

@media (min-width: 30.1rem) {
  .sidebar-toggle {
    position: fixed;
    width: 2.25rem;
  }
  .sidebar-toggle:before {
    /*padding-bottom: .15rem;
    border-top-width: .45rem;
    border-bottom-width: .15rem;*/
  }
}

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -11rem;
  width: 11rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .775rem; /* 15px */
  color: rgba(255,255,255,.6);
  background-color: #202020;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}


#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(11rem);
      -ms-transform: translateX(11rem);
          transform: translateX(11rem);
}

/*Only move the wrap by  small amount*/

#sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(4rem);
      -ms-transform: translateX(4rem);
          transform: translateX(4rem);

}

img {
  border:1px solid silver;
  max-width: 70%;
  max-height:400px;
  margin:12px auto;
}


h1 {
  width:65%;
  padding-bottom:0px;
  line-height: 1;
  /*border-bottom: 4px solid #e5e5e5;*/
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}


section.toc {
  border:1px solid silver;
  background-color: white;
  font-size: .65rem;
  width:35%;
  float:right;
  margin-right:-110px;
  margin-top:-57px;
  margin-left:8px;
}

.toc h2 {
  font-size:.95rem;
  border-bottom:1px solid silver;
  background: silver;
  padding:2px 20px;
  margin:0 0 12px 0;
  color:white;
}

@media (max-width: 48em) {
  /*in here adjust the toc*/
  section.toc {
    border:1px solid silver;
    font-size: .65rem;
    width:50%;
    float:right;
    margin-right:-100px;
    margin-top:-20px;
    margin-left:8px;
  }


}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

td, th {
  vertical-align: top;
}

td.gl {
  width:40px;
  background-color: yellow;
}

/*formatting for code block with line numbers*/
.lineno { border: none; border-radius: 0; color: #aaa; }
/*.gutter {width:20px;}*/
.code pre, .gutter pre { border: none; white-space: pre; overflow-x: hidden; word-wrap: normal; }

/*formatting for code block with no line numbers*/
/*pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }*/
