progress {
  /* Positioning */
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
opacity: .7;
  /* Dimensions */
  width: 100%;
  height: .55em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #057739;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #057739;
}

.flat::-moz-progress-bar {
  background-color: #057739;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  height: .55em;
  display: block;
}

.progress-bar {
  background-color: #057739;
  width: 50%;
  display: block;
  height: inherit;
  opacity: .7;
}
