progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  /* Dimensions */
  width: 100%;
  height: .35em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #089c4c;;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #089c4c;;
}

.flat::-moz-progress-bar {
  background-color: #089c4c;;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: #089c4c;
  width: 50%;
  display: block;
  height: inherit;
}
