<!DOCTYPE html>
<html lang="en-gb">

  {% include head.html %}

  <body class="theme-base-0b">
    {% include sidebar.html %}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>{% if page.layout == "post" %} | <a class="blogLink" href="{{ site.baseurl }}/blog" title="Blog Articles">Blog</a>{% endif %}<br />
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
    
      </div>

    </div>
<!-- {% include footer.html %} -->
<!-- now follows items that get the menu working should it be fa-chevron-left fa-lg -->
    <label title="the menu" for="sidebar-checkbox" class="sidebar-toggle fa fa-bars fa-lg" aria-hidden="true"></label>
<!-- this next item will be shown on small screens -->
    <div class="contents"><a href="/contents" title="contents"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
    </div>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;
          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
    <script>
    jQuery(document).ready(function($) {
    	$("img:not([title])").each(function() {
    			if($(this).attr("alt") != '') $(this).parent().attr("title", $(this).attr("alt"))
    			else $(this).parent().attr("title", $(this).attr("src"));
    	});
    });
    </script>
    <script>
        $("a[href$='.jpg'],a[href$='.jpeg'],a[href$='.png'],a[href$='.gif']").attr('rel', 'gallery').attr('class', 'sideimage').fancybox();
    </script>

    <!-- show a video -->


    <script>
    $(document).ready(function() {
    	$(".video").fancybox({
    		maxWidth	: 800,
    		maxHeight	: 600,
    		fitToView	: false,
    		width		: '70%',
    		height		: '70%',
    		autoSize	: false,
    		closeClick	: false,
    		openEffect	: 'none',
    		closeEffect	: 'none'
    	});
    });
    </script>

    <!-- navigation -->
    <script>
    jQuery(document).ready(function(){

    $(".navigation > li > a").on("click", function(e){

    	if(!$(this).hasClass("active")) {

          // hide any open menus and remove all other classes
    		$(".navigation li ul").slideUp(350);
    		$(".navigation li a").removeClass("active");

    		// open our new menu and add the open class
    		$(this).next("ul").slideDown(350);
    		$(this).addClass("active");

    	}else if($(this).hasClass("active")) {

    		$(this).removeClass("active");
    		$(this).next("ul").slideUp(350);
    	}
       e.preventDefault();
    });

    });
    </script>

  </body>
</html>
