---
layout: default
---

<div class="page">
  <!-- <h1 class="page-title">{{ page.title }}</h1> -->
  {{ content }}
<!-- We can only show one screencast at the moment -->
  {% if page.screencast != null %}
<p><a href="{{site.baseurl}}/screencasts/{{ page.screencast }}">There is a Screencast that may help <i style="vertical-align:middle;" title="Show this screencast" class="fa fa-youtube-play fa-2x" aria-hidden="true"> </i></a></p>
  {% endif %}
</div>

<p>This page last edited on: {% last_modified_at %}</p>
