---
layout: default
type: screencast
---
<div class="post">
  <a class="video fancybox.iframe" title="{{ screencast.title }}" href="https://www.youtube.com/embed/{{ page.YouTube }}?autoplay=1;rel=0&amp;showinfo=0"><i title="Show this screencast" class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a>
<h1>{{ page.title }}</h1>
<span class="post-date">{{ page.date | date_to_string }}</span>
<!-- <span class="post-date">{{ page.last_modified_at | date: '%Y:%B:%A:%d:%S:%R' }}</span> -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.YouTube }}?rel=0" frameborder="0" allowfullscreen></iframe>
  {{ content }}
  {% include prevnextscreencast.html %}
  <p><a href="{{ site.baseurl }}/screencasts/"><i class="fa fa-chevron-left" aria-hidden="true"></i> See all Screencasts</a></p>
</div>
